.detailContainer{

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    
        .section{
            height: 120vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

                .cartAndDesc{
                    width: 1200px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }

            .btnViewCart{
                padding: 20px;
                border-radius: 20px;
                background-color:#c18e30;
                font-size: 20px;
                font-weight: 600;
            }
        }

    


}