.padreCards{
    display: flex;
    justify-content: space-around;
        .cards{
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;
                .card{
                    display: flex;
                    flex-direction: column;
                }
                img{
                    height: 100px;
                    width: 100px;
                }
        }
}

