      .padreHero {
          display: flex;
          flex-direction: column;


          .hero {
              display: flex;
              justify-content: space-around;
              height: 45vh;
              background-color: #c18e30;
              color: black;

              .div1 {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;
              }

              .div2 {
                  display: flex;
                  justify-content: space-around;
                  flex-direction: column;
                  align-items: center;
              }
          }
      }

      .detailContainer {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;
          height: 50vh;

          .itemDCont {
              border: 3px solid #c18e30;
              border-radius: 10px;
              height: 270px;
              padding: 20px;
              background-size: cover;
              filter: opacity(60%);

              .itemDInside {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 210px;
                  color: white;
                  font-style: italic;
              }

          }
      }