main{
    display: flex;
    flex-direction: column;
        .hero{
            display: flex;
            justify-content: space-around;
            height: 30vh;
            background-color: #c18e30;
            // color: #427AA1;
            color: black;
                .div1{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }
                .div2{
                    display: flex;
                    align-items: center;
                }
        }   

        .productos{
            padding-right: 100px; 
            background-color: #c18e30;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50vh;
                .card {
                    --background: linear-gradient(to left, rgb(228, 231, 57) 0%, #23cf6d 100%);
                    width: 190px;
                    height: 254px;
                    padding: 5px;
                    border-radius: 1rem;
                    overflow: visible;
                    background: #f7ba2b;
                    background: var(--background);
                    position: relative;
                    z-index: 1;
                        &:hover .cardInfo{
                            color: #f7ba2b;
                            transition: color 1s;
                        }
                        &::after{
                            position: absolute;
                            content: "";
                            top: 30px;
                            left: 0;
                            right: 0;
                            z-index: -1;
                            height: 100%;
                            width: 100%;
                            transform: scale(0.8);
                            filter: blur(25px);
                            background: #f7ba2b;
                            background: var(--background);
                            transition: opacity .5s;
                            }
                            &:hover::after {
                                opacity: 0;
                            }
                        .cardInfo{
                            --color: #181818;
                            background: var(--color);
                            color: var(--color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            overflow: visible;
                            border-radius: .7rem;
                                .title {
                                    font-weight: bold;
                                    letter-spacing: .1em;
                                }
                        }
                    }
            }
            
}    


