.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100%;
        .cartYitemList{
            display: flex;
            width: 40%;
            justify-content: space-evenly;
            align-items: center;
                .cart{
                    font-size: 30px;
                }
        }
}

nav{
    ul{
        display: flex;
        align-items: center;
        font-size: 35px;
        color: black;
        height: 20vh;
            img{
                height: 10vh;
            }
    }
}




